<h2><%= @book.title %></h2>
<h2><%= @book.publish_date %></h2>
<h2><%= @book.author %></h2>
<h2><%= @book.category %></h2>
<h2><%= @book.number_of_pages %></h2>

<%= render @book.reviews %>
<%= link_to "Read", book_statuses_path(book_status: {book_id: @book.id}), method: :post %>

<%= link_to "Add Review" , new_book_review_path(@book) %>
<%= link_to "Back" , root_path %>
<%= link_to "Edit" , edit_book_path(@book) %>
<%= link_to "Delete" , book_path(@book) , method: :delete , data: { confirm: "Are you sure ?"} %>
